.first-part{
   background-color: #495E57;
   padding: 27px;
}
.btn{
   background-color: #f4ce14;
   border-radius: 8px;
   border: none;
   color: black;
   padding: 5px 15px;
   font-family: OpenSans;
   font-size: 14px;
}
h1{
   font-family: OpenSans;
   color: #f4ce14;
}
.p-home{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding:0;
   font-size: 14px;
}
img.waiter{
   border-radius: 10px;
   height: 300px;
   width: 320px;
}

.homep{
   margin-bottom: 30px;
}