input{
   margin-bottom: 10px;
   margin-top: 5px;
   color: wheat;

}
select{
   margin-top: 5px;
   font-family: montserat;
   font-size: 5px;
}

.btn{
   margin-top: 20px;
}
label{
   font-family: montserat;
   font-size: 13px;
   color: white;
}

.oorder{
   background-color: #495E57;
   height: 50vh;
}